{% include 'header.html' %}

<div id="main">
    <div class="intro">
        <h1 class="header-h1">Last 30 Blocks</h1>
        <div class="minercontent">

            Last 30 blocks mined by this pool.

            <div>
                <strong>Last block found: {{ last_found }} ago</strong>
            </div>

            <table class="table">
                <tr>
                    <th>Block number</th>
                    <th>Block reward</th>
                    <th>Time found</th>
                    <th>Confirmations</th>
                </tr>

                {% for block in blocks %}
                    <tr>
                        <td> {{ block.height }} </td>
                        <td> {{ block.amount }} BTX </td>
                        <td> {{ showDateTime(block.time) }} </td>
                        <td> {{ formatConfirmations(block.confirmations) }} </td>
                    </tr>
                {% endfor %}

            </table>

            <div id="container-block-diff" style="min-width: 310px; height: 300px; margin: 0 auto"></div>

        </div>
    </div>
</div>

{% include 'footer.html' %}