{% include 'header.html' %}

<div id="main">

    <div class="intro">
        <h1 class="header-h1">omegapool.cc - {{ coin_seo_name }} mining pool</h1>
        <div class="minercontent">
            <div class="intro-info">
                <strong>Miners online / Workers: <span class="label {{ coin_seo_name }}"> {{ total_count_miners.total_count|default(0) }} / {{ total_count_workers.total_count|default(0) }}</span> </strong>
                <div class="help-text">Total unique miner addresses and workers.</div>
            </div>
            <div class="intro-info">
                <strong>Min. payout threshold: <span class="label {{ coin_seo_name }}">{{ min_payout }} {{ getCoinSettings(coin_seo_name).symbol }}</span> </strong>
                <div class="help-text" style="color: red;">Payout for pending balances above 0.01 {{ getCoinSettings(coin_seo_name).symbol }} every 4 hours.</div>
            </div>
            <div class="intro-info">
                <strong>Pool hashrate: <span class="label {{ coin_seo_name }}">{{ showFriendlyHash(total_pool_hashrate.hashrate) }}</span> </strong>
                <div class="help-text">Total current pool hashrate.</div>
            </div>
            <div class="intro-info">
                <strong>Network Difficulty: <span class="label {{ coin_seo_name }}">{{ difficulty|default('n/a')|round(1)  }}</span> </strong>
                <div class="help-text">Mining difficulty for the coin.</div>
            </div>
            <div class="intro-info">
                <strong>Reward structure: <span class="label {{ coin_seo_name }}">Proportional</span> </strong>
                <div class="help-text">Proportional reward based on the number of submitted "valid" shares and difficulty.</div>
            </div>
            <div class="intro-info">
                <strong>Pool fee: <span class="label {{ coin_seo_name }}">{{ pool_fee }}%</span> </strong>
                <div class="help-text">No transaction fees!</div>
            </div>
        </div>
    </div>

    <div class="intro">

        <div class="minercontent">
            <h3>Announcements</h3>
            <ul class="announcements">
                <li>
                    <div>
                        {% if stratum_connections|length > 1 %}
                            <strong style="color: red;">Please always connect to the port with less active connections!</strong>
                            {% for port, stratum_connection in stratum_connections %}
                                <strong><div>Port: {{ port }} <span> - {{ stratum_connection.workers }} workers</span></div></strong>
                            {% endfor %}
                        {% endif %}
                        omegapool.cc just launched. First month we have promotional very low mining fees. Please try us and report back any issues found!
                    </div>
                </li>
            </ul>
            <h2>Search Wallet</h2>
            <form name="wallet-check" action="index.php" class="wallet-input">
                <input type="hidden" name="coin" value={{ coin_seo_name }} />
                <input type="hidden" name="page" value="dashboard" />
                <ul class="input-list wallet-input clearfix">
                    <li class="li-inline">
                        <input placeholder="ie. 1NgZ7MjHmVUuuy2Y4UMxDaVm4Me3TcNMpt" name="wallet" type="text" size="40">
                    </li>
                    <li class="li-inline">
                        <input value="Submit" class="focus all-news-btn" type="submit">
                    </li>
                </ul>
            </form>
        </div>

    </div>

    {% if wallet %}
        <div class="intro">
            <div class="minercontent">
                <div class="get-started wallet-info-label">Your wallet address is set to: <strong>{{ wallet }}</strong></div>
                <div class="get-started wallet-info-label">API call for your wallet: <strong><a href="api.php?coin={{ coin_seo_name }}&wallet={{ wallet }}" target="_blank">Active workers + wallet monitoring</a></strong></div>

                <div class="intro-info">
                    <strong>Round share: <span class="label {{ coin_seo_name }}"> {{ roundSimple(round_share)|default(0) }}% -> {{ estimated_earning }} {{ getCoinSettings(coin_seo_name).symbol }} </span> </strong>
                    <div class="help-text">Estimated earnings when the pool finds a block.</div>
                </div>

                <div class="intro-info">
                    <strong>Immature Balance: <span class="label {{ coin_seo_name }}"> {{ roundSimple(immature_balance.immature_balance)|default(0) }} {{ getCoinSettings(coin_seo_name).symbol }} </span> </strong>
                    <div class="help-text">Earnings awaiting blocks to mature.</div>
                </div>

                <div class="intro-info">
                    <strong>Pending Balance: <span class="label {{ coin_seo_name }}"> {{ roundSimple(pending_balance.pending_balance)|default(0) }} {{ getCoinSettings(coin_seo_name).symbol }} </span> </strong>
                    <div class="help-text">Matured earnings awaiting payout.</div>
                </div>

                <div class="intro-info">
                    <strong>Total Paid: <span class="label {{ coin_seo_name }}">{{ roundSimple(total_paid.total_payout)|default(0) }} {{ getCoinSettings(coin_seo_name).symbol }} </span> </strong>
                    <div class="help-text">Total paid to this wallet address.</div>
                </div>

                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'workers', '{{ coin_seo_name }}')" id="defaultOpen">Workers ({{ workers_count|default(0) }})</button>
                    <button class="tablinks" onclick="openTab(event, 'earnings', '{{ coin_seo_name }}')">Earnings</button>
                    <button class="tablinks" onclick="openTab(event, 'payouts', '{{ coin_seo_name }}')">Payouts</button>
                </div>

                <div id="workers" class="tabcontent">

                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Miner version</th>
                            <th>Hashrate (5min average / 15min average)</th>
                        </tr>

                        {% for worker in workers %}
                            <tr>
                                <td> {{ worker.worker|default(worker.id) }} </td>
                                <td> {{ worker.version }} </td>
                                <td> {{ worker.hashrate }} / {{ worker.hashrate_15_mins }} </td>
                            </tr>
                        {% endfor %}

                    </table>

                    <div id="container-user" style="min-width: 300px; height: 300px; margin: 0 auto"></div>

                </div>

                <div id="earnings" class="tabcontent">
                    <div>Total earnings last 1 hour: {{ roundSimple(earnings_last_hour.total_earnings)|default(0) }} {{ getCoinSettings(coin_seo_name).symbol }} </div>
                    <div>Total earnings last 3 hours: {{ roundSimple(earnings_last_3_hours.total_earnings)|default(0) }} {{ getCoinSettings(coin_seo_name).symbol }} </div>
                    <div>Total earnings last 24 hours: {{ roundSimple(earnings_last_24_hours.total_earnings)|default(0) }} {{ getCoinSettings(coin_seo_name).symbol }} </div>
                    <div>Total earnings last 7 days: {{ roundSimple(earnings_last_7_days.total_earnings)|default(0) }} {{ getCoinSettings(coin_seo_name).symbol }} </div>
                    <div>Total earnings last 30 days: {{ roundSimple(earnings_last_30_days.total_earnings)|default(0) }} {{ getCoinSettings(coin_seo_name).symbol }} </div>
                    <div>
                        <strong>
                            <a href={{ getCoinSettings(coin_seo_name).whattomine_url }} target=_blank">Estimate your earnings: WHAT TO MINE</a>
                        </strong>
                    </div>
                </div>

                <div id="payouts" class="tabcontent">
                    <table class="table">
                        <tr>
                            <th>TX ID</th>
                            <th>Amount</th>
                            <th>Time</th>
                        </tr>

                        {% for payout in payouts %}
                            <tr>
                                <td>
                                    <a href="{{ getCoinSettings(coin_seo_name).block_explorer_payout }}{{ payout.tx }}{{ getCoinSettings(coin_seo_name).block_explorer_payout_suffix }}" target="_blank"> {{ payout.tx }} </a>
                                </td>
                                <td>{{ roundSimple(payout.amount) }} {{ getCoinSettings(coin_seo_name).symbol }} </td>
                                <td>{{ showDateTime(payout.time) }} </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>

            </div>

        </div>

    {% endif %}

    <div class="intro">
        <div id="container-pool" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
    </div>

    <div class="intro">

        <div class="minercontent">
            <h2>Instructions - getting started</h2>

            <div><strong>Stratum port</strong></div>
            <div class="get-started">stratum+tcp://omegapool.cc:{{ getCoinSettings(coin_seo_name).port }}</div>

            <div><strong>Nvidia cards using <a href="{{  getCoinSettings(coin_seo_name).mine_nvidia_download }}" target="_blank">CCMINER</a></strong></div>
            <div class="get-started">{{ getCoinSettings(coin_seo_name).mine_nvidia }}</div>

            <div><strong>AMD cards using <a href="{{  getCoinSettings(coin_seo_name).mine_amd_download }}" target="_blank">SGMINER</a></strong></div>
            <div class="get-started">{{ getCoinSettings(coin_seo_name).mine_amd }}</div>
        </div>
    </div>


</div>

{% include 'footer.html' %}
