{% include 'header.html' %}

<script>

  function populateSelectList(coinData) {
    var options = "";

    for (var gpu in coinData) {
      options += '<option value="' + gpu + '">' + coinData[gpu] + '</option>';
    }
    return options;
  }

  function populateEstimates(json_gpus, json_earnings) {
    console.log(json_earnings);
    var coin_select = document.getElementById('coin-select');
    var coin = coin_select.value;
    var options_list = populateSelectList(json_gpus[coin]);

    var html = "";
    html += '<input type="text" id="' + coin + '-input-estimate" value="30" onkeypress="updateEstimates(\'' + coin + '\', \'' + json_earnings[coin] + '\');" onkeyup="updateEstimates(\'' + coin + '\', \'' + json_earnings[coin] + '\');"> mh/s ';
    html += '<select id="' + coin + '-gpu" form="' + coin + '-cards-list" onchange="updateEstimatesSelect(\'' + coin + '\', \'' + json_earnings[coin] + '\');">' + options_list + '</select>';
    html += ' will earn you <span id="' + coin + '-output-estimate"></span> ' + coin.toUpperCase();
    document.getElementById("populate-estimate").innerHTML = html;

    // Trigger change on first load
    updateEstimatesSelect(coin, json_earnings[coin]);
  }
  // Tracking script for earning estimates
  function updateEstimates(coin, json_earnings) {
    var user_input = document.getElementById(coin + "-input-estimate");
    var s = user_input.value;

    // Set the estimated value
    document.getElementById(coin + "-output-estimate").innerHTML = s * json_earnings / 10;
  };

  function updateEstimatesSelect(coin, json_earnings) {
    var user_input = document.getElementById(coin + "-gpu");
    var s = user_input.value;

    // Set the estimated value
    document.getElementById(coin + "-output-estimate").innerHTML = s * json_earnings / 10;
    // Set it for the form field too
    document.getElementById(coin + "-input-estimate").value = s;
  };
</script>

<div id="main">
    <div class="intro">
        <h1 class="header-h1">{{ seo_site_name }} - stable and profitable mining pools!</h1>
        <div class="minercontent">

            <div>
                <strong>
                    {{ seo_site_name }} supports POW mining for selection of coins which have active dev teams and we can see them as reliable and trustworthy.
                </strong>
            </div>

            <table class="table">
                <tr>
                    <th>Coin</th>
                    <th>Algorithm</th>
                    <th>Pool Hashrate / Network Hashrate</th>
                    <th>Network difficulty</th>
                    <th>Active Miners</th>
                    <th>Pool fee</th>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/bitcore.png" alt="bitcore mining" />
                        <a href="?page=dashboard&coin=bitcore">Bitcore (BTX)</a> <strong>Port: 8001 or 1111</strong>
                    </td>
                    <td>TimeTravel10</td>
                    <td>{{ showFriendlyHash(pool_hashrate_bitcore) }}</span> / {{ total_hashrate_bitcore_gh|default('n/a')|round(1) }} Gh/s</td>
                    <td>{{ difficulty_bitcore|default('n/a')|round(1)  }}</td>
                    <td class="total-miners">{{ total_miners_bitcore }}</td>
                    <td>1.25%</td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/bulwark.png" alt="bulwark mining" />
                        <a href="?page=dashboard&coin=bulwark">Bulwark (BWK)</a> <strong>Port: 8002</strong>
                    </td>
                    <td>nist5 (NiceHash friendly)</td>
                    <td>{{ showFriendlyHash(pool_hashrate_bulwark) }}</span> / {{ total_hashrate_bulwark_gh|default('n/a')|round(1) }} Gh/s</td>
                    <td>{{ difficulty_bulwark|default('n/a')|round(1)  }}</td>
                    <td class="total-miners">{{ total_miners_bulwark }}</td>
                    <td>0.5%</td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/lux.png" alt="lux mining" />
                        <a href="?page=dashboard&coin=lux">Luxcoin (LUX)</a> <strong>Port: 8003</strong>
                    </td>
                    <td>phi2</td>
                    <td>{{ showFriendlyHash(pool_hashrate_lux) }}</span> / {{ total_hashrate_lux_gh|default('n/a')|round(1) }} Gh/s</td>
                    <td>{{ difficulty_lux|default('n/a')|round(1)  }}</td>
                    <td class="total-miners">{{ total_miners_lux }}</td>
                    <td>0.5%</td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/gobyte.png" alt="gobyte mining" />
                        <a href="?page=dashboard&coin=gobyte">GoByte (GBX)</a> <strong>Port: 8004</strong>
                    </td>
                    <td>neoscrypt</td>
                    <td>{{ showFriendlyHash(pool_hashrate_gobyte) }}</span> / {{ total_hashrate_gobyte_gh|default('n/a')|round(1) }} Gh/s</td>
                    <td>{{ difficulty_gobyte|default('n/a')|round(1)  }}</td>
                    <td class="total-miners">{{ total_miners_gobyte }}</td>
                    <td>1%</td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/bitsend.png" alt="bitsend mining" />
                        <a href="?page=dashboard&coin=bitsend">Bitsend (BSD)</a> <strong>Port: 8005</strong>
                    </td>
                    <td>xevan</td>
                    <td>{{ showFriendlyHash(pool_hashrate_bitsend) }}</span> / {{ total_hashrate_bitsend_gh|default('n/a')|round(1) }} Gh/s</td>
                    <td>{{ difficulty_bitsend|default('n/a')|round(1)  }}</td>
                    <td class="total-miners">{{ total_miners_bitsend }}</td>
                    <td>1%</td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/raven.png" alt="raven mining" />
                        <a href="?page=dashboard&coin=raven">Raven (RVN)</a> <strong>Port: 8006</strong>
                    </td>
                    <td>x16r</td>
                    <td>{{ showFriendlyHash(pool_hashrate_raven) }}</span> / {{ total_hashrate_raven_gh|default('n/a')|round(1) }} Gh/s</td>
                    <td>{{ difficulty_raven|default('n/a')|round(1)  }}</td>
                    <td class="total-miners">{{ total_miners_raven }}</td>
                    <td>0.5%</td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/megacoin.png" alt="megacoin mining" />
                        <a href="?page=dashboard&coin=megacoin">MegaCoin (MEC)</a> <strong>Port: 8007</strong>
                    </td>
                    <td>scrypt (NiceHash friendly)</td>
                    <td>{{ showFriendlyHash(pool_hashrate_megacoin) }}</span> / {{ total_hashrate_megacoin_gh|default('n/a')|round(1) }} Gh/s</td>
                    <td>{{ difficulty_megacoin|default('n/a')|round(1)  }}</td>
                    <td class="total-miners">{{ total_miners_megacoin }}</td>
                    <td>1.25%</td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/phantomx.png" alt="phantomx mining" />
                        <a href="?page=dashboard&coin=phantomx">PhantomX (PNX)</a> <strong>Port: 8008</strong>
                    </td>
                    <td>x11 (NiceHash friendly)</td>
                    <td>{{ showFriendlyHash(pool_hashrate_phantomx) }}</span> / {{ total_hashrate_phantomx_gh|default('n/a')|round(1) }} Gh/s</td>
                    <td>{{ difficulty_phantomx|default('n/a')|round(1)  }}</td>
                    <td class="total-miners">{{ total_miners_phantomx }}</td>
                    <td>1%</td>
                </tr>
                <tr>
                    <td>
                        <strong>Summary all coins</strong>
                    </td>
                    <td></td>
                    {% set total_hash = pool_hashrate_bitcore + pool_hashrate_bulwark + pool_hashrate_lux + pool_hashrate_bitsend + pool_hashrate_raven ?? 0 %}
                    <td id="total-hash-sum">{{ showFriendlyHash(total_hash) }}</td>
                    <td></td>
                    <td id="all-miners-count"></td>
                    <td></a></td>
                </tr>

            </table>

            <script>
              var sum = 0;
              // Calculate total miners and total pool hash
              $(".total-miners").each(function() {
                var value = $(this).text();

                // Always make sure we have numeric value
                value = value.replace(/[^0-9\.]+/g, "");

                // Calculate only if the value is number
                if(!isNaN(value) && value.length != 0) {
                  sum += parseFloat(value);
                }
              });
              document.getElementById("all-miners-count").innerHTML = sum + " miners";
            </script>

        </div>

        <div class="minercontent">
            <span>
                <strong>Estimated daily earnings for:</strong>
                <select id="coin-select" form="select-form-list" onchange="populateEstimates({{ gpus }}, {{ estimated_earnings_coins }});">
                    <option value="" selected disabled hidden>Select a coin ...</option>
                    <option value="btx">Bitcore (BTX)</option>
                    <option value="bwk">Bulwark (BWK)</option>
                    <option value="lux">Luxcoin (LUX)</option>
                    <option value="bsd">Bitsend (BSD)</option>
                    <option value="rvn">Raven (RVN)</option>
                </select>

                <span id="populate-estimate"></span>
            </span>
        </div>

        <div class="minercontent">

            <table class="table">
                <tr>
                    <td class="custom-twitter">
                        <a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/OmegaPoolMining?ref_src=twsrc%5Etfw">Tweets by OmegaPoolMining</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </td>
                    <td class="custom-ethmonitor">
                        <h1 class="header-h1">How to monitor your miner earnings, pool profitability or to restart your miner remotely?</h1>

                        We suggest to register at <a href="https://ethmonitoring.com" target="_blank" rel="nofollow">EthMonitoring</a> which allows you to setup miner monitoring with a hashrate reporting from the miner software.
                        <br />The premium service also allows to monitor pool profitability based on your real pool earnings.
                        It's available as a mobile app too or you can control it through a simple web interface.</p>
                                    <strong>Use promo code "omegapool" for the premium service and receive 5% discount.</strong><br />
                        <div class="imgContainer">
                            <a href="https://ethmonitoring.com/site/premium" target="_blank" rel="nofollow"><img src="images/ethmonitoring.jpg" class="userImg" /></a>
                        </div>

                        <p><iframe width="300" height="300" src="https://www.youtube.com/embed/c6ZP6hqbTsQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>

                        <p><strong>Mining profit calculator</strong></p>
                        <div class="imgContainer">
                            <a href="https://www.crypto-coinz.net" target="_blank" rel="nofollow"><img src="images/crypto-coinz.png" class="userImg" /></a>
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

{% include 'footer.html' %}