{% include 'header.html' %}

<div id="main">
    <div class="intro">
        <h1 class="header-h1">omegapool.cc - stable and profitable mining pools!</h1>
        <div class="minercontent">

            <div>
                <strong>
                    omegapool.cc supports POW mining for selection of coins which have active dev teams and we can see them as reliable and trustworthy.
                </strong>
            </div>

            <table class="table">
                <tr>
                    <th>Coin</th>
                    <th>Algorithm</th>
                    <th>Network Hashrate</th>
                    <th>Pool Hashrate</th>
                    <th>Active Miners</th>
                    <th>Pool fee</th>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/bitcore.png" alt="bitcore mining" />
                        <a href="?page=dashboard&coin=bitcore">Bitcore (BTX)</a> <strong>Port: 8001 or 1111</strong>
                    </td>
                    <td>TimeTravel10</td>
                    <td>{{ total_hashrate_bitcore_gh|default('n/a')|round(1) }} Gh/s</td>
                    <td>{{ showFriendlyHash(pool_hashrate_bitcore) }}</td>
                    <td>{{ total_miners_bitcore }}</td>
                    <td>1.25%</a></td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/lux.png" alt="lux mining" />
                        <a href="?page=dashboard&coin=lux">Luxcoin (LUX)</a> <strong>Port: 8003</strong>
                    </td>
                    <td>phi</td>
                    <td>{{ total_hashrate_lux_gh|default('n/a')|round(1) }} Gh/s</td>
                    <td>{{ showFriendlyHash(pool_hashrate_lux) }}</td>
                    <td>{{ total_miners_lux }}</td>
                    <td>0.5%</a></td>
                </tr>
                <tr>
                    <td>
                        <img class="logo-list" src="images/bitsend.png" alt="lux mining" />
                        <a href="?page=dashboard&coin=bitsend">Bitsend (BSD)</a> <strong>Port: 8005</strong>
                    </td>
                    <td>xevan</td>
                    <td>{{ total_hashrate_bitsend_gh|default('n/a')|round(1) }} Gh/s</td>
                    <td>{{ showFriendlyHash(pool_hashrate_bitsend) }}</td>
                    <td>{{ total_miners_bitsend }}</td>
                    <td>1%</a></td>
                </tr>
            </table>

        </div>

        <div class="minercontent">
            <h1 class="header-h1">How to monitor your miner earnings, pool profitability or to restart your miner remotely?</h1>

            We suggest to register at <a href="https://ethmonitoring.com" target="_blank">EthMonitoring</a> which allows you to setup miner monitoring with a hashrate reporting from the miner software.
            <br />The premium service also allows to monitor pool profitability based on your real pool earnings.
            It's available as a mobile app too or you can control it through a simple web interface.</p>
            <strong>Use promo code "omegapool" for the premium service and receive 5% discount.</strong><br />
            <div class="imgContainer">
                <a href="https://ethmonitoring.com/site/premium" target="_blank"><img src="images/ethmonitoring.jpg" class="userImg" /></a>
            </div>

            <p><iframe width="300" height="300" src="https://www.youtube.com/embed/c6ZP6hqbTsQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></p>
        </div>
    </div>
</div>

{% include 'footer.html' %}