{% include 'header.html' %}

<div id="main">

    <div class="intro">
        <div class="minercontent">
            <strong>Total pool hashrate: {{ showFriendlyHash(total_pool_hashrate.hashrate) }}</strong>

            <div id="container-miners-pie" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
        </div>
    </div>

    <div class="intro">
        <h1 class="header-h1">Miners</h1>
        <div class="minercontent">
            <table class="table">
                <tr>
                    <th>Miner</th>
                    <th>Hashrate (last 5 minutes, short average)</th>
                    <th>Hashrate (last 3 hours, more accurate)</th>
                </tr>

                {% for miner in miners %}
                <tr>
                    <td>
                        <a href="index.php?page=index&wallet={{ miner.username }}"> {{ miner.username }} </a>
                    </td>
                    <td>{{ showFriendlyHash(attribute(hahsrates_5_min, miner.userid).hashrate) }}</td>
                    <td>{{ showFriendlyHash(attribute(hashrates_3_hours, miner.userid).hashrate) }}</td>
                </tr>
                {% endfor %}

            </table>

        </div>
    </div>
</div>

{% include 'footer.html' %}